.players-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.start-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.red {
    color: red;
}

.player-container {
    background-color: transparent;
    border: 1px dashed;
    border-radius: 20px;
    padding: 4px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .player-container.red {
        border-color: red;
    }

    .player-container.blue {
        border-color: blue;
    }

.vs-title {
    font-size: 22px;
    font-weight: bold;
}

.player-name-input {
    text-align: center;
    border-radius: 5px;
    border: 1px dashed;
    border-color: gray;
}

    .player-name-input:focus {
        outline: 1px solid;
    }

.play-button {
    background-color: white;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    transition-duration: 1s;
    border-radius: 15px;
    border: 1px double;
}

    .play-button:hover {
        border-color:orange;
        transition-duration: 1s;
    }

.size-input {
    text-align: center;
    border-radius: 5px;
    border: 1px dashed;
    border-color: gray;
    font-size: 20px;
}

    .size-input:focus {
        outline: 1px solid;
    }

.size-input::-webkit-inner-spin-button {
    opacity: 1;
}

@media (max-width: 446px) {
    .players-container {
        flex-direction: column;
    }

    .size-input {
        font-size: 30px;
    }

    .player-name-input{
        font-size: 20px;
    }
}